.main
  .main-head
    .head-left
      .group-name
        = @group.name
      .group-member
        Member:
        - @group.users.each do |user|
          = user.name
    .head-right
      = link_to edit_group_path(@group) do
        -# %p.edit-btn
        Edit
  .main-body
    = render @messages
  .main-foot
    .form
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .input-space
          = f.text_field :content, placeholder: 'type a message', class: 'type-text'
          = f.label :image do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'select-file'
        = f.submit 'Send', class: 'send'